In [26]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from scipy import stats
stats.chisqprob = lambda chisq, df: stats.chi2.sf(chisq, df)

In [8]:
raw_data = pd.read_csv("Bank_data.csv")
raw_data

     Unnamed: 0  interest_rate  credit  march  may  previous  duration    y
0             0          1.334     0.0    1.0  0.0       0.0     117.0   no
1             1          0.767     0.0    0.0  2.0       1.0     274.0  yes
2             2          4.858     0.0    1.0  0.0       0.0     167.0   no
3             3          4.120     0.0    0.0  0.0       0.0     686.0  yes
4             4          4.856     0.0    1.0  0.0       0.0     157.0   no
..          ...            ...     ...    ...  ...       ...       ...  ...
513         513          1.334     0.0    1.0  0.0       0.0     204.0   no
514         514          0.861     0.0    0.0  2.0       1.0     806.0  yes
515         515          0.879     0.0    0.0  0.0       0.0     290.0   no
516         516          0.877     0.0    0.0  5.0       1.0     473.0  yes
517         517          4.965     0.0    0.0  0.0       0.0     142.0   no

[518 rows x 8 columns]

In [9]:
data = raw_data.copy()

data = data.drop(['Unnamed: 0'], axis = 1)

data['y'] = data['y'].map({'yes': 1, 'no': 0})

data

     interest_rate  credit  march  may  previous  duration  y
0            1.334     0.0    1.0  0.0       0.0     117.0  0
1            0.767     0.0    0.0  2.0       1.0     274.0  1
2            4.858     0.0    1.0  0.0       0.0     167.0  0
3            4.120     0.0    0.0  0.0       0.0     686.0  1
4            4.856     0.0    1.0  0.0       0.0     157.0  0
..             ...     ...    ...  ...       ...       ... ..
513          1.334     0.0    1.0  0.0       0.0     204.0  0
514          0.861     0.0    0.0  2.0       1.0     806.0  1
515          0.879     0.0    0.0  0.0       0.0     290.0  0
516          0.877     0.0    0.0  5.0       1.0     473.0  1
517          4.965     0.0    0.0  0.0       0.0     142.0  0

[518 rows x 7 columns]

In [10]:
data.describe()

,interest_rate,credit,march,may,previous,duration,y
count,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000
mean,2.835776,0.034749,0.266409,0.388031,0.127413,382.177606,0.500000
std,1.876903,0.183321,0.442508,0.814527,0.333758,344.295990,0.500483
min,0.635000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000
25%,1.042750,0.000000,0.000000,0.000000,0.000000,155.000000,0.000000
50%,1.466000,0.000000,0.000000,0.000000,0.000000,266.500000,0.500000
75%,4.956500,0.000000,1.000000,0.000000,0.000000,482.750000,1.000000
max,4.970000,1.000000,1.000000,5.000000,1.000000,2653.000000,1.000000

In [30]:
estimators=['interest_rate','march','credit','previous','duration']
y = data['y']
x1 = data[estimators]

In [32]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x)
results_log = reg_log.fit()

Optimization terminated successfully.
         Current function value: 0.336664
         Iterations 7

In [36]:
results_log.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  518
Model:                          Logit   Df Residuals:                      512
Method:                           MLE   Df Model:                            5
Date:                Fri, 06 Jun 2025   Pseudo R-squ.:                  0.5143
Time:                        19:09:41   Log-Likelihood:                -174.39
converged:                       True   LL-Null:                       -359.05
Covariance Type:            nonrobust   LLR p-value:                 1.211e-77
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
const            -0.0211      0.311     -0.068      0.946      -0.631       0.589
interest_rate    -0.8001      0.089     -8.943      0.000      -0.975      -0.625
march            -1.8322      0.330     -5.556      0.000      -2.478      -1.186
credit            2.3585      1.088      2.169      0.030       0.227       4.490
previous          1.5363      0.501      3.067      0.002       0.554       2.518
duration          0.0070      0.001      9.381      0.000       0.006       0.008
=================================================================================
"""

In [38]:
np.set_printoptions(formatter = {'float' : lambda x: "{0:0.2f}".format(x)})
results_log.predict()

array([0.11, 0.94, 0.01, 0.81, 0.01, 0.53, 0.03, 0.00, 0.71, 0.07, 0.95,
       0.50, 0.89, 0.10, 0.08, 0.82, 0.87, 0.85, 0.37, 0.76, 0.97, 0.87,
       0.13, 0.10, 0.65, 0.09, 0.77, 0.76, 0.90, 0.04, 0.02, 0.12, 0.27,
       0.71, 0.06, 0.01, 0.99, 0.06, 1.00, 0.54, 0.06, 0.84, 0.06, 0.01,
       0.87, 0.55, 0.00, 0.15, 0.16, 0.83, 0.72, 0.05, 0.03, 0.05, 0.01,
       0.81, 0.09, 0.80, 0.98, 0.84, 0.04, 0.11, 0.99, 0.76, 0.16, 0.31,
       0.05, 0.06, 1.00, 0.07, 0.02, 0.72, 0.14, 0.97, 0.87, 0.13, 0.67,
       0.05, 0.01, 0.03, 0.92, 0.79, 0.89, 0.13, 0.19, 0.98, 0.64, 0.86,
       0.74, 0.03, 0.08, 0.03, 0.71, 0.64, 0.95, 0.97, 0.97, 0.03, 0.98,
       0.06, 0.99, 0.07, 0.99, 0.69, 0.28, 0.36, 0.20, 0.70, 0.73, 0.03,
       0.99, 0.41, 0.16, 0.05, 0.94, 0.02, 0.04, 0.90, 0.50, 0.14, 0.10,
       0.00, 0.92, 1.00, 0.33, 0.98, 0.93, 0.84, 0.70, 0.67, 0.05, 0.26,
       0.81, 0.79, 0.81, 0.08, 0.22, 0.74, 0.11, 0.01, 0.01, 0.01, 0.23,
       0.79, 0.23, 1.00, 0.23, 0.01, 1.00, 0.54, 0.71, 0.45, 0.96, 0.87,
       0.05, 0.88, 0.59, 0.98, 0.95, 0.99, 0.95, 0.84, 0.87, 0.10, 0.62,
       0.21, 0.06, 0.50, 0.09, 0.22, 0.60, 0.96, 0.94, 0.05, 0.05, 0.98,
       0.65, 0.85, 0.91, 0.99, 0.17, 0.13, 0.11, 0.84, 0.04, 0.07, 0.00,
       0.04, 1.00, 0.62, 0.68, 0.43, 0.09, 0.69, 0.89, 0.02, 0.91, 0.03,
       0.90, 0.70, 0.05, 0.58, 0.96, 0.99, 0.04, 0.11, 0.96, 0.70, 0.02,
       0.99, 0.67, 0.02, 1.00, 0.74, 0.03, 0.70, 1.00, 0.80, 0.57, 0.00,
       0.98, 0.96, 0.05, 0.01, 0.90, 0.01, 0.62, 0.91, 1.00, 0.97, 0.30,
       0.01, 0.20, 0.89, 0.60, 1.00, 0.73, 0.19, 0.37, 0.86, 0.10, 1.00,
       0.01, 0.08, 1.00, 1.00, 0.82, 0.07, 0.89, 1.00, 0.12, 0.96, 0.08,
       0.03, 0.05, 0.89, 0.93, 0.09, 0.86, 0.22, 0.88, 0.98, 1.00, 0.10,
       0.50, 0.05, 0.37, 0.13, 0.44, 0.22, 0.92, 0.80, 0.46, 0.04, 0.99,
       0.81, 0.95, 0.13, 0.02, 0.18, 0.79, 0.13, 0.60, 1.00, 0.18, 0.94,
       0.03, 0.95, 0.19, 0.67, 0.05, 0.74, 0.07, 0.41, 0.80, 0.09, 0.85,
       0.01, 0.03, 0.97, 0.03, 0.26, 0.06, 0.10, 0.07, 0.50, 0.01, 0.98,
       0.72, 0.85, 0.05, 0.90, 0.05, 0.93, 0.93, 0.56, 0.95, 0.78, 0.96,
       0.07, 0.90, 0.04, 0.04, 0.04, 0.03, 0.99, 0.35, 0.58, 1.00, 0.35,
       1.00, 0.93, 0.99, 0.90, 0.00, 0.63, 0.98, 0.60, 0.96, 0.98, 0.60,
       0.08, 1.00, 0.03, 0.03, 0.91, 0.75, 1.00, 0.93, 0.05, 0.87, 0.76,
       0.00, 0.92, 0.97, 0.06, 0.98, 0.91, 0.04, 0.83, 0.07, 0.04, 0.56,
       0.14, 0.41, 0.95, 0.02, 0.95, 0.22, 0.05, 1.00, 0.90, 0.70, 0.91,
       0.88, 0.05, 0.08, 0.04, 0.99, 0.92, 0.33, 0.73, 0.06, 0.65, 0.71,
       0.11, 0.77, 0.41, 0.05, 0.89, 0.05, 0.08, 0.98, 0.69, 1.00, 0.22,
       0.26, 0.02, 0.21, 0.52, 0.96, 0.50, 0.04, 0.98, 0.01, 0.01, 0.19,
       1.00, 0.37, 0.91, 0.39, 0.94, 0.67, 0.30, 0.17, 0.68, 0.90, 0.00,
       0.60, 0.10, 0.99, 0.76, 0.21, 0.08, 0.86, 0.18, 0.89, 0.90, 0.82,
       0.80, 0.70, 0.44, 0.97, 0.25, 0.02, 0.02, 0.01, 0.34, 0.12, 0.99,
       0.04, 0.05, 0.09, 0.00, 0.99, 0.19, 0.94, 0.07, 0.78, 0.04, 0.62,
       0.97, 0.60, 0.95, 0.04, 0.58, 1.00, 0.44, 0.49, 0.52, 0.05, 0.67,
       0.85, 0.10, 0.06, 0.05, 0.04, 1.00, 0.66, 0.58, 0.98, 0.34, 0.18,
       1.00, 0.57, 0.65, 0.50, 0.46, 0.08, 0.69, 0.00, 0.81, 0.13, 0.02,
       1.00, 0.99, 0.82, 0.72, 0.99, 0.17, 0.53, 0.73, 0.19, 0.25, 0.03,
       0.12, 0.11, 0.99, 0.35, 0.40, 0.98, 0.06, 0.53, 0.49, 0.89, 0.37,
       0.82, 0.02, 0.91, 0.94, 0.60, 0.34, 0.21, 0.18, 1.00, 0.78, 0.98,
       0.05])

In [44]:
def Confusion_Matrix(data, actual_values, model):
    predicted_values = model.predict(data)
    bins = np.array([0,0.5,1])

    cm = np.histogram2d(actual_values, predicted_values, bins = bins)[0]
    accuracy = (cm[0,0] + cm[1,1])/cm.sum()
    return cm, accuracy

In [46]:
Confusion_Matrix(x, y, results_log)

(array([[218.00, 41.00],
        [30.00, 229.00]]),
 0.862934362934363)